<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Admin page</title>
</head>
<body>
<header th:replace="~{admin/admin-blocks :: admin_header}"></header>
<main>
    <table style="margin: auto">
        <tbody>
        <tr>
            <td>
                <h2 style="text-align: center">Список пользователей</h2>
                <table th:replace="~{admin/admin-blocks :: users_list}"></table>
            </td>
        </tr>
        <tr>
            <td><a class="button" th:href="@{admin/show-add-user}">Добавить пользователя</a></td>
        </tr>
        </tbody>
    </table>
</main>
</body>
</html>
