<ul th:fragment="links_to_lists_of_employees" style="padding: 2px; margin: 2px">
    <li sec:authorize="hasAuthority('MASTER') and hasAuthority('TV_MANUFACTURER') and hasAuthority('PHONE_MANUFACTURER') and hasAuthority('REPAIRER')">
        <a href="/headship" class="button">Все сотрудники</a>
    </li>
    <li sec:authorize="hasAuthority('MASTER') and hasAuthority('TV_MANUFACTURER') and hasAuthority('PHONE_MANUFACTURER')">
        <a href="/manufacture/master" class="button">Сотрудники сборочного цеха</a>
    </li>
    <li sec:authorize="hasAuthority('MASTER') and hasAuthority('TV_MANUFACTURER')">
        <a href="/manufacture/tvs/master" class="button">Сотрудники отдела сборки ТВ</a>
    </li>
    <li sec:authorize="hasAuthority('MASTER') and hasAuthority('PHONE_MANUFACTURER')">
        <a href="/manufacture/phones/master" class="button">Сотрудники отдела сборки телефонов</a>
    </li>
    <li sec:authorize="hasAuthority('MASTER') and hasAuthority('REPAIRER')">
        <a href="/repair/master" class="button">Сотрудники ремонтного отдела</a>
    </li>
</ul>
<!------------------------------------------------------------------------------------>
<header th:fragment="users_header">
    <table style="width:100%; background-color: #e7fff3">
        <tbody>
        <tr>
            <td style="text-align: center; font-weight: bold; font-size: larger; width: 100%; border: 1px solid"
                th:text="${title}">
            </td>
            <td><a class="button" href="/">Главная</a></td>
            <td sec:authorize="hasAuthority('ADMIN')">
                <a href="/admin" class="button">Страница&nbsp;администратора</a>
            </td>
            <td><a href="/logout" class="button">Выйти</a></td>
        </tr>
        </tbody>
    </table>
</header>
