<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Тестовая страница</title>
</head>
<body>

<form action="/test2" th:object="${user}" th:method="'post'">
<div th:each="role : ${aRoles}">
    <input type="checkbox" name="roles"
           th:text="${role.name}"
           th:value="${role.name}"
           th:field="*{roles}">
</div>
    <td><input type="submit" class="button" value="Готово"></td>
</form>

</body>
</html>
